* {
    margin: 0 auto;
}

.content {
    background-color: #f9f9f9;
}

.web {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

/*ここからタイトル*/

.mainvisual {
    height: 750px;
}

#slide {
    position: relative;
    padding: 0;
    margin: 0;
}

#slide img {
    position: absolute;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
}

@media screen and (max-width : 480px) {
    #slide img {
        width: 100%;
    }
}


.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

#maintitle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 100px;
}

#maintitle h2 {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

@media screen and (max-width : 480px) {
    #maintitle h1 {
        font-size: 34px;
        top: 10%
    }

    #maintitle h2 {
        font-size: 15px;
        top: 13%;
    }
}

#mainbutton {
    position: absolute;
    right: 0%;
    width: 51%;
}

nav li {
    list-style-type: none;
    float: left;
    margin-right: 3%;
    margin-top: 3%;
}

.access-nav {
    right: 0%;
}

nav a {
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width : 480px) {
    nav a {
        font-size: 9px;
    }
}

/*ここからABOUT*/

#about {
    position: relative;
}

.title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding: 4%;
}

#about-item {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.item-1 {
    border: 1px solid #fff;
    border-radius: 5%;
    color: #182b2e;
    box-shadow: 0 2px 5px #ccc;
    height: 90%;
    margin: 3%;
}

.item img {
    border: 0.5px solid #fff;
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 0px;
}

.item h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 0px;
    margin: 3% 3%;
}

.item p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    padding: 0px;
    line-height: 150%;
    margin: 0% 3% 7%;
}

/*ここからmain*/

.main {
    background-color: #182b2e;
}

.main img {
    float: left;
}

.main h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 33px;
    margin: 10% 0% 0% 60%;
    padding-top: 13%;
}

.main p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0% 0% 0% 60%;
    line-height: 180%
}

#main-text {
    background-color: #182b2e;
    height: 729px;
}

/*ここからMENU*/
.menu {
    background-color: #E7D4D1;
    margin: 0px;
    padding: 0px;
    height: 85vh;
}

.item-2 {
    display: flex;
}

.menu img {
    height: 220px;
    border-radius: 5% 5% 0% 0%;
}

.menu-item {
    border: 1px solid #E7D4D1;
    width: 24.5%;
    border-radius: 5%;
    color: #182b2e;
    box-shadow: 0 2px 5px #182b2e;
}

.menu-item h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 0px;
    margin: 3% 6%;
}

.menu p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0px;
    margin: 0% 3% 7%;
}

/*ここからＡＣＣＥＳＳ*/

.access-item {
    border: 1px solid #fff;
    border-radius: 3%;
    box-shadow: 0 2px 5px #ccc;
    padding: 0px;
    width: 75%;
    height: 60vh;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
}

.left iframe {
    border-radius: 3% 0% 0% 3%;

}

.right {
    /*background-color: #fff;*/
    /*border: 1px solid #fff;*/
    /*width: 40%;
    height: 400px;*/
    margin-left: 25%;
    /*box-shadow: 0 2px 5px #ccc;*/
}

span {
    display: inline-block;
    width: 5em;
}

.right h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #182b2e;
    padding: 9% 3% 4% 3%;
}

.right1 h3 {
    float: left;
    padding: 8.5% 8% 0% 10%;
    margin-bottom: 0%;
}

.right2 h3 {
    float: left;
    margin-top: 0px;
    padding: 0% 4.5% 10% 10%;
}

.right p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #182b2e;
    padding: 9% 3% 4% 3%;
}

.right2 p {
    padding: 0% 3% 4% 3%;
}

.button a {
    text-align: center;
    display: block;
    border: 1px solid #182b2e;
    border-radius: 5px;
    color: #fff;
    background: #182b2e;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 7px;
    width: 10%;
    margin: 50px auto 70px auto;
    transition: 1.0s;
}

.button a:hover {
    color: #182b2e;
    background: #fff;
    transition: 1.0s;
}

/*ここから最後の帯*/

.last {
    background-color: #182b2e;
}

footer {
    background-color: #182b2e;
    color: #fff;
    text-align: center;
    padding: 4% 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/*ふわっとスクロール*/

.fadein {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.5s;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
