* {
    margin: 0 auto;
}

.content {
    height: 100vh;
    width: 1020px;
}

.web {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;

}

/*ここからタイトル*/

.mainvisual {
    height: 750px;
}

#slide {
    position: relative;
    padding: 0;
    margin: 0;
}

#slide img {
    position: absolute;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
}

#maintitle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 100px;
}

#maintitle h2 {
    position: absolute;
    top: 63%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

#mainbutton{
    position: absolute;
}
    

nav{
    overflow: hidden;
}

nav li{
    list-style-type: none;
    float: left;
    margin-top: 2px;
}

nav a{
    font-style: 16px;
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    padding: 10px 20px 0px 0px; 
    margin: 14px 16px 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
/*ここからABOUT*/

.title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding: 4%;
}

.item {
    display: flex;

}

#item1 {
    margin: 0px 0px 0px 160px;
    border: 1px solid #fff;
    width: 350px;
    border-radius: 10px;
    color: #182b2e;
    box-shadow: 0 2px 5px #ccc;
}

#item2 {
    margin: 0px 20px;
    border: 1px solid #fff;
    width: 350px;
    ;
    border-radius: 10px;
    color: #182b2e;
    box-shadow: 0 2px 5px #ccc;
}

#item3 {
    margin: 0px 160px 0px 0px;
    border: 1px solid #fff;
    width: 350px;
    border-radius: 10px;
    color: #182b2e;
    box-shadow: 0 2px 5px #ccc;
}

.item img {
    border: 0.5px solid #fff;
    width: 350px;
    height: 220px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 0px;
}

.item h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 0px;
    margin: 20px 15px;
}

.item p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0px;
    margin: 0px 10px 20px;
}

/*ここからmain*/

.main {
    background-color: #182b2e;
   
}

.main img {
    float: left;
}

.main h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 33px;
    margin: 10% 0% 0% 60%;
    padding-top: 13%;
}

.main p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0% 0% 0% 60%;
    line-height: 180%
}

#main-text {
    background-color: #182b2e;
    height: 729px;
}

/*ここからMENU*/

.menu {
    background-color: #E7D4D1;
    margin: 0px;
    padding: 0px;
    height: 85vh;
}

.menu-item1 {
    border: 1px solid #E7D4D1;
    width: 350px;
    border-radius: 10px;
    color: #182b2e;
    box-shadow: 0 2px 5px #182b2e;
}

.menu-item2 {
    border: 1px solid #E7D4D1;
    width: 350px;
    border-radius: 10px;
    color: #182b2e;
    box-shadow: 0 2px 5px #182b2e;
}

/*ここからＡＣＣＥＳＳ*/

.access-item {
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    padding: 0px;
    width: 75%;
    height: 60vh;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    /*margin-left: 10%;*/
    /*box-shadow: 0 2px 5px #ccc;*/
}

.right {
    /*background-color: #fff;*/
    /*border: 1px solid #fff;*/
    /*width: 40%;
    height: 400px;*/
    margin-left: 25%;
    /*box-shadow: 0 2px 5px #ccc;*/
}

.right h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #182b2e;
    padding: 9% 3% 4% 3%;
}

.right1 h3 {
    float: left;
    padding: 8.5% 8% 0% 10%;
    margin-bottom: 0%;
}

.right2 h3 {
    float: left;
    margin-top: 0px;
    padding: 0% 4.5% 10% 10%;
}

.right p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #182b2e;
    padding: 9% 3% 4% 3%;
}

.right2 p {
    padding: 0% 3% 4% 3%;
}

.button a {
    text-align: center;
    display: block;
    margin: 35px auto;
    width: 200px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #182b2e;
    border-radius: 5px;
    background: #182b2e;
    padding: 7px;
    font-weight: 600;
    font-size: 20px;
}

.botton a:hover {
    background: #fff;
    color: #182b2e;
}

/*ここから最後の帯*/

.last {
    background-color: #182b2e;
}

footer {
    background-color: #182b2e;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/*ふわっとスクロール*/

.fadein {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.5s;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
